.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
}

.sidebar__name {
    display: flex;
    flex-direction: column;
}
.name_fullname {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.25;
}

.name_username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: lightgrey
}

.sidebar__editButton {
    border: 1px solid !important;
    border-color: lightgrey !important;
    border-radius: 8px !important;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    color: black !important;
    text-transform: inherit !important;
}


.sidebar_follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
}

.sidebar__otherDetails {
    display: flex;
    flex-direction: column;
}

.sidebar__otherDetails > span {
    display: flex;
    align-items: center;
    font-size: 11px;
}

.sidebar_iconColor {
    color: rgb(106,115,125);
    height: 18px !important;
}